<div class="row">
    <div class="col s5">
        <div class="card blue-grey darken">
            <div class="card-content white-text">
                <span class="card-title">Klacht</span>
                <p>
                    <b>Klacht nr:</b> <%= complaint.record %><br>
                    <b>Opbrenger:</b> <%= complaint.originator.map(user => {return ' ' + user[1]}) %><br>
                    <b>Datum en tijd incident:</b> <%= complaint.complaintDateTime %><br>
                    <b>Locatie:</b> <%= complaint.complaintLocation %><br>
                    <b>Beschuldigde:</b> <%= complaint.accused.map(user => {return ' ' + user[1]}) %><br>
                    <b>Getuigen:</b> <%= complaint.witnesses.map(user => {return ' ' + user[1]}) %><br>

                    <% if (complaint.accepted !== undefined) { %>
                    <br>
                    <b>Inbehandeling genomen:</b> <%- (complaint.accepted) ? '<b class="green-text">Ja</b>' : '<b class="red-text">Nee</b>' %>
                    <% } %>

                    <% if (complaint.proceeding !== undefined) { %>
                    <br>
                    <b>Klacht in te dienen:</b> <%- (complaint.proceeding) ? '<b class="green-text">Ja</b>' : '<b class="red-text">Nee</b>' %>
                    <% } %>
                </p>
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">attach_file</i>Wat is er gebeurd</div>
                <div class="collapsible-body"><span><%= complaint.happend %></span></div>
            </li>
            <% if (complaint.report && complaint.report.length > 0 && complaint.reportAccepted) { %>
            <li>
                <div class="collapsible-header"><i class="material-icons">forum</i>Raport -<b class="green-text">&nbsp;aangenomen&nbsp;</b>op: <%= complaint.reportAcceptedDate.getDate() %>/<%= complaint.reportAcceptedDate.getMonth() + 1 %>/<%= complaint.reportAcceptedDate.getFullYear() %></div>
                <div class="collapsible-body"><span><%= complaint.report %></span></div>
            </li>
            <% } %>
            <% if (subcommittee && subcommittee.done === true) { %>
            <li>
                <div class="collapsible-header"><i class="material-icons">search</i>subcommittee</div>
                <div class="collapsible-body"><span><%= subcommittee.report %></span></div>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="col s7">
        <% if (complaint.accepted == undefined && !subcommittee) { %>
        <div class="card blue-grey darken-4">
            <div class="card-content white-text">
                <span class="card-title">Behandelen</span>
            </div>
            <div class="card-action">
                <a href="/jc/accepting/<%= complaint.id %>/accept" class="waves-effect waves-light btn green">Nu behandelen</a><br><br>
                <a href="/jc/accepting/<%= complaint.id %>/deny" class="waves-effect waves-light btn red">Niet verder behandelen</a><br><br>
                <a class="waves-effect waves-light btn activator">subcommittee</a><br><br>
            </div>
            <div class="card-reveal blue-grey darken-3 white-text">
                <span class="card-title">Subcommittee<i class="material-icons right">close</i></span>
                <p>Geef hieronder de namen op van de mensen wie worden toegewezen aan het subcommittee. (Bij meerdere namen scheid met een komma)</p>
                <form class="" action="/jc/accepting/<%= complaint.id %>/subcommittee" method="get">
                    <div class="input-field">
                        <input type="text" name="assigned" value="">
                        <label for="assigned">Geef namen op</label>
                    </div>
                    <input type="submit" class="btn" value="Subcommittee maken">
                </form>
            </div>
        </div>
        <% } %>

        <% if (complaint.accepted && complaint.reportAccepted == undefined) { %>
        <div class="card blue">
            <div class="card-content white-text">
                <span class="card-title">JC Rapport</span>
                <form action="/jc/report/<%= complaint._id %>" method="post">
                    <div class="input-field">
                        <label for="report">Rapport</label>
                        <textarea rows="6" class="materialize-textarea" id="report" name="report" required></textarea>
                    </div>
                    <input class="btn" type="submit" name="saveApply" value="opslaan">
                    <input class="btn" type="submit" name="saveApply" value="aannemen">
                </form>
            </div>
        </div>
        <% } %>

        <% if (complaint.reportAccepted && complaint.proceeding == undefined) { %>
        <div class="card blue-grey darken-4">
            <div class="card-content white-text">
                <span class="card-title">Klacht in te dienen</span>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col s6">
                        <a href="/jc/charges/proceeding/<%= complaint.id %>/accept" class="waves-effect waves-light btn green">Ja</a>
                    </div>
                    <div class="col s6">
                        <a href="/jc/charges/proceeding/<%= complaint.id %>/deny" class="waves-effect waves-light btn red">Nee</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <% if (complaint.proceeding) { %>
        <div class="card blue darken-4">
            <div class="card-content white-text form-white-text">
                <span class="card-title">Aanklachten</span>
                <form id="chargeForm" action="/jc/charges/<%= complaint._id %>" method="POST">
                    <div class="row">
                        <div class="input-field col s5">
                            <label for="accused">Aangeklaagde</label>
                            <input type="text" name="accused" required>
                        </div>
                        <div class="input-field col s4">
                            <label for="accused">Aanklacht</label>
                            <input type="number" name="law" step=".01" required>
                        </div>
                        <div class="input-field col s3">
                            <select name="plea" form="chargeForm" required>
                                <option value="" disabled selected>Pleidooi</option>
                                <option value="1">Schuldig</option>
                                <option value="0">Onschuldig</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="submit" class="btn" value="Toevoegen">
                        </div>
                    </div>
                </form>

                <% if (charges.length > 0) { %>
                <form action="/jc/lawsuit/create" method="POST">
                    <input type="hidden" name="complaint" value="<%= JSON.stringify(complaint) %>">
                    <table class="bordered white-text">
                        <tr>
                            <th>Aangeklaagde</th>
                            <th>Aanklacht</th>
                            <th>Pleit</th>
                            <th>Rechtzaak</th>
                        </tr>

                        <% charges.forEach(function (charge) { %>
                        <tr>
                            <td><%= charge.accused.map(user => {return user[1]}) %></td>
                            <td><%= charge.law %></td>
                            <td><%= (charge.plea ? 'S' : 'O') %></td>
                            <td>
                                <% if (charge.plea) {
                                    %> - / - <%
                                } else {

                                    inCase = false
                                    for (lawsuit of lawsuits) {
                                        if (lawsuit.charges.indexOf(charge._id) != -1 ) {
                                            %> <%= lawsuit.record %> / <%= (charge.pleaCase !== undefined) ? ((charge.pleaCase) ? 'S' : 'O') : '-'; %> <%
                                            inCase = true
                                            break;
                                        }
                                    }

                                    if (!inCase) {
                                        %>
                                        <input type="checkbox" name="charge" value="<%= charge._id %>" id="select:<%= charge._id %>" />
                                        <label for="select:<%= charge._id %>"></label>
                                        <%
                                    } %>

                                <% } %>
                            </td>
                        </tr>
                        <% }) %>

                    </table>

                    <%
                        notInCase = false
                        chargeFor: for (charge of charges) {
                            lawsuitFor: for (lawsuit of lawsuits) {
                                if (lawsuit.charges.indexOf(charge._id) != -1) {
                                    continue chargeFor;
                                }
                            }
                            notInCase = true
                        }
                        console.log(notInCase);
                    %>

                    <% if (notInCase) { %>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" name="prosecutor" required>
                            <label>Aanklager</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="submit" value="Maak rechtzaak" class="btn">
                        </div>
                    </div>
                    <% } %>
                </form>
                <% } else { %>
                Er zijn nog geen aanklachten ingediend
                <% } %>
            </div>
        </div>

        <div class="card amber darken-1">
            <div class="card-content white-text">
                <span class="card-title">Sancties</span>
                <table class="bordered white-text">
                    <tr>
                        <th>Overtreder</th>
                        <th>Sanctie</th>
                        <th>Beroep</th>
                    </tr>
                    <tr>
                        <td>noah.bochove</td>
                        <td>Schoonmaken</td>
                        <td>Nee</td>
                    </tr>
                </table>
            </div>
        </div>
        <% } %>
    </div>
</div>

<div class="fixed-action-btn">
    <a href="#complaintSideAction" class="btn-floating btn-large red modal-trigger">
        <i class="large material-icons">mode_edit</i>
    </a>
</div>


<div id="complaintSideAction" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h4>Modal Header</h4>
                    <p>Hier komen dingen die met de klacht te maken hebben</p>
                </div>
                <div class="col s6">
                    <p>Hier ook</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Sluiten</a>
    </div>
</div>

<script type="text/javascript">
    $('#report').val('<%= complaint.report %>')
</script>
