<div class="row">
    <h2>JC klachten</h2>
    <div class="col s3">
        <div class="collection">
            <a href="#!" class="collection-item"><span class="badge">1</span>Open</a>
            <a href="#!" class="collection-item"><span class="new badge">4</span>Rechtzaken</a>
            <a href="#!" class="collection-item">iets ander</a>
        </div>
    </div>
    <div class="col s9">
        <table id="complaints-table" class="table">
            <thead>
                <tr>
                    <th>Klachtnummer</th>
                    <th>Binnengekomen</th>
                    <th>Opbrenger</th>
                    <th>Aangeklaagde</th>
                    <th>Getuigen</th>
                    <th>Wat is er gebeurd</th>
                </tr>
            </thead>
            <tbody>
            <% complaints.forEach(function (complaint) {
                let colorClass

                if (complaint.accepted) {
                    colorClass = 'yellow'
                } 

                %>

                <tr class="<%= colorClass %>">
                    <th><a href="/jc/complaint/<%= complaint._id %>"><%= complaint.record %></a></th>
                    <th><%= complaint.created_at.getDate() %>/<%= complaint.created_at.getMonth() + 1 %>/<%= complaint.created_at.getFullYear() %> - <%= complaint.created_at.getHours() %>:<%= complaint.created_at.getMinutes() %></th>
                    <th><%= complaint.originator.map(user => {return ' ' + user[1]}) %></th>
                    <th><%= complaint.accused.map(user => {return ' ' + user[1]}) %></th>
                    <th><%= complaint.witnesses.map(user => {return ' ' + user[1]}) %></th>
                    <th><%= complaint.happend %></th>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#complaints-table').DataTable({
            "order": [[ 0, 'desc' ]]
        })
    })
</script>
