<h3><%= __('ACCOUNTADD_header')%></h3>
<form id="user-add-form" method="post" action="/account/manage/add">
	<table>
        <div class="input-field">
            <label><%= __('ACCOUNTADD_formFirstName')%></label>
    		<input name="firstName" type='text'></input>
        </div>

        <div class="input-field">
            <label><%= __('ACCOUNTADD_formSecondName')%></label>
    		<input name="secondName" type='text'></input>
        </div>

        <div class="input-field">
            <label><%= __('ACCOUNTADD_formPassword')%></label>
    		<input name="password" type='password'></input>
        </div>

        <div class="input-field">
            <label><%= __('ACCOUNTADD_formEmail')%></label>
    		<input name="email" type='email'></input>
        </div>
		
		<input type='submit' class="btn" value="<%= __('ACCOUNTADD_formSubmit')%>"></input>
		</tr>
	</table>
</form>
