<style type="text/css">

	#group_list li {
		margin-bottom: 5px;
	}

</style>

<div class="row">
	<div class="card">
		<div class="card-content">
			<span class="card-title"><h4><%= userProfile.username %></h4></span>
			<p><%= userProfile.id %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 l4">
		<div class="collection userSectionSelector">
	        <a href="#profile" class="collection-item active"><i class="material-icons secondary-content">assignment_ind</i>Persoonlijke gegevens</a>
	        <a href="#groups" class="collection-item"><i class="material-icons secondary-content">group</i>Groepen</a>
      	</div>
	</div>

	<div class="col s12 l8 userSections">
		<div class="userSection" id="profile">
			<ul class="collection">
				<li class="collection-item"><b>Gebruikersnaam:</b> <%= userProfile.username%></li>
				<li class="collection-item"><b>Voornaam:</b> <%= userProfile.firstName%></li>
				<li class="collection-item"><b>Achternaam:</b> <%= userProfile.secondName%></li>
				<li class="collection-item"><b>Email:</b> <a class="modal-trigger" href="#emailModal"><%= userProfile.email%></a></li>
				<li class="collection-item"><b>Wachtwoord:</b> <a class="waves-effect waves-light btn modal-trigger" href="#passwordModal">Wijzigen</a></li>
			</ul>
		</div>

		<div class="userSection" id="groups" style="display: none;">
			<div class="card-panel">
				<h4>Groepen</h4>
				<p>Hieronder kun je zien in welke groepen je zit</p>

				<% if (user.groups.indexOf('admin') !== -1) { %>
				<form action="/account/manage/<%= userProfile.id %>/group/add" method="post">
					<div class="input-field">
						<select name="group" onchange="this.form.submit()">
							<option value="" disabled selected>Groep toevoegen</option>
							<option value="admin">admin</option>
							<option value="jc">JC</option>
							<option value="schoolMeetingVoorzitter">School Meeting Voorzitter</option>
							<option value="rechtscoordinator">Rechtscoordinator</option>
						</select>
					</div>
				</form>
				<% } %>

				<ul id="group_list" class="collection"></ul>
			</div>
		</div>
	</div>
</div>

<div id="emailModal" class="modal">
	<form action="/account/manage/<%= userProfile.id%>/email" method="post">
		<div class="modal-content">
			<h4>Email adres wijzigen</h4>
			<div class="input-field">
				<input id="email" name="email" type="email" class="validate" required>
				<label for="email">Email</label>
	        </div>
			<div class="input-field">
				<input id="emailConfirm" name="emailConfirm" type="email" class="validate" autocomplete="off" required>
				<label for="emailConfirm">Bevestig email</label>
	        </div>
		</div>
		<div class="modal-footer">
			<input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Wijzigen">
		</div>
	</form>
</div>

<div id="passwordModal" class="modal">
	<form action="/account/manage/<%= userProfile.id%>/password" method="post">
		<div class="modal-content">
			<h4>Wachtwoord wijzigen</h4>
			<div class="input-field">
				<input id="password" name="password" type="password" required>
				<label for="email">Wachtwoord</label>
	        </div>
			<div class="input-field">
				<input id="passwordConfirm" name="passwordConfirm" type="password" required>
				<label for="passwordConfirm">Bevestig wachtwoord</label>
	        </div>
		</div>
		<div class="modal-footer">
			<input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Wijzigen">
		</div>
	</form>
</div>

<script type="text/javascript">

    userProfile = JSON.parse('<%- JSON.stringify(userProfile) %>')

    for(i = 0; i < userProfile.groups.length; i++){
		if (user.groups.indexOf('admin') !== -1) {
			$('ul[id="group_list"]').append('<li class="collection-item"><a href="/account/manage/' + userProfile._id + '/group/remove?group=' + userProfile.groups[i] + '"><i class="material-icons left">cancel</i></a>' + userProfile.groups[i] + '</li>');
		} else {
			$('ul[id="group_list"]').append('<li class="collection-item">' + userProfile.groups[i] + '</li>');
		}
    }

</script>
<script type="text/javascript">

	$('.userSectionSelector a').click(function (event) {
		let hash = event.target.hash

		$('.userSectionSelector a').removeClass('active')
		$('.userSectionSelector a[href="' + hash + '"]').addClass('active')

		$('.userSections').children().css('display', 'none')
		$('.userSections ' + hash).css('display', 'block')

	})

</script>
