<style type="text/css">

	#edit_group_window {
		display: none;
		position: absolute;
		top: 20%;
		left: 50%;"
		margin-left: auto;
  		margin-right: auto;
	}

	#edit_group_window_content{
		z-index: 10;
		position: relative;
		left: -50%;
		background: #DBDBDB;
		width: 500px;
		height: 500px;
		border-radius: 2px;
		padding: 10px;
		box-shadow: -0px -0px 5px #888888;
	}

	button#dropdownMenu1{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#group_list li {
		margin-bottom: 5px;
	}

</style>

<h3><%= userProfile.username %>'s profile</h3>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#"><%= __('ACCOUNTPROFILE_tabPerson')%></a></li>
  <li><a href="#"><%= __('ACCOUNTPROFILE_tabProjects')%></a></li>
</ul>
<div class="panel panel-default">
	<div class="list-group">
		<a href="#" class="list-group-item">id: <%= userProfile.id%></a>
		<a href="#" class="list-group-item"><%= __('ACCOUNTPROFILE_infoUsername')%> <%= userProfile.username%></a>
        <a href="#" class="list-group-item"><%= __('ACCOUNTPROFILE_infoFullname')%> <%= userProfile.firstName%> <%= userProfile.secondName %></a>
		<a href="#" class="list-group-item"><%= __('ACCOUNTPROFILE_infoEmail')%> <%= userProfile.email%></a>
		<a href="#edit_groups" class="list-group-item"><%= __('ACCOUNTPROFILE_infoGroup')%> <%= userProfile.groups%></a>
	</div>
</div>

<div id="edit_group_window">
	<div id="edit_group_window_content">
		<span href="#edit_group_close" class="glyphicon glyphicon-remove" aria-hidden="true"></span>

		<div class="dropdown">
			<form class="form-inline" action="/account/manage/<%= userProfile.id %>/group/add" method="post">
				<label for="email">Add group:</label>
				<select name="group" class="form-control" onchange="this.form.submit()">
					<option selected disabled>---</option>
			    	<option value="admin">admin</option>
			    	<option value="jc">JC</option>
					<option value="schoolMeetingVoorzitter">School Meeting Voorzitter</option>
				</select>
			</form>
		</div>

		<ul id="group_list" class="list-group"></ul>
	</div>
</div>

<script type="text/javascript">

    userProfile = JSON.parse('<%- JSON.stringify(userProfile) %>')

    for(i = 0; i < userProfile.groups.length; i++){
        $('ul[id="group_list"]').append('<li class="list-group-item"><a href="/account/manage/' + userProfile._id + '/group/remove?group=' + userProfile.groups[i] + '"><span  style="float: right;" class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>' + userProfile.groups[i] + '</li>');
    }

	$('a[href="#edit_groups"]').click(function() {
		if($('#edit_group_window').is(':visible') === false){

			$('#edit_group_window').show();
		}
	});

	$('span[href="#edit_group_close"]').click(function  () {
		$('#edit_group_window').hide();
	});

</script>
