<style type="text/css">

	#group_list li {
		margin-bottom: 5px;
	}

</style>

<ul class="collection with-header">
    <li class="collection-header"><h3><%= userProfile.username %></h3></li>
	<li class="collection-item">id: <%= userProfile.id%></li>
    <li class="collection-item"><%= __('ACCOUNTPROFILE_infoFullname')%> <%= userProfile.firstName%> <%= userProfile.secondName %></li>
    <li class="collection-item"><%= __('ACCOUNTPROFILE_infoEmail')%> <%= userProfile.email%></li>
    <li class="collection-item"><a class="modal-trigger" href="#modal1"><%= __('ACCOUNTPROFILE_infoGroup')%> <%= userProfile.groups%></a></li>
</ul>

<div id="modal1" class="modal" style="min-height: 400px;">
	<div class="modal-content">
		<h4>Groepen aanpassen</h4>
		<p>Hieronder kunt u groepen toewijzen aan deze gebruiker of juist verwijderen</p>

		<form action="/account/manage/<%= userProfile.id %>/group/add" method="post">
			<div class="input-field">
				<select name="group" onchange="this.form.submit()">
					<option value="" disabled selected>Groep toevoegen</option>
			    	<option value="admin">admin</option>
			    	<option value="jc">JC</option>
					<option value="schoolMeetingVoorzitter">School Meeting Voorzitter</option>
				</select>
			</div>
		</form>

		<ul id="group_list" class="collection"></ul>
	</div>
</div>

<script type="text/javascript">

    userProfile = JSON.parse('<%- JSON.stringify(userProfile) %>')

    for(i = 0; i < userProfile.groups.length; i++){
        $('ul[id="group_list"]').append('<li class="collection-item"><a href="/account/manage/' + userProfile._id + '/group/remove?group=' + userProfile.groups[i] + '"><i class="material-icons left">cancel</i></a>' + userProfile.groups[i] + '</li>');
    }

</script>
