<h2>Huishoudelijk reglement <% if(user.groups.indexOf('rechtscoordinator') !== -1){ %>
    <a href="#addLaw" class="btn waves-effect waves-light modal-trigger">Regel toevoegen</a>
    <a href="#importLaws" class="btn waves-effect waves-light modal-trigger">HHR importeren</a>
<% } %></h2>

<table id="laws-table" class="table bordered">
    <col width="20%">
    <col width="55%">
    <col width="25%">
    <col width="15%">
    <thead>
        <tr>
            <th>Regel nummer</th>
            <th>Inhoud</th>
            <th>Datum laatst gewijzigd</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        <% laws.forEach(function(law) { %>
        <tr id="rule:<%= law._id %>" class="<%= (!law.enabled) ? 'tableRowDisabled' : ''%>" >
            <td><%= law.number %></td>
            <td><span class="lawContent"><%= law.content %></span></td>
            <td><%= law.updatedAt %></td>
            <% if(user.groups.indexOf('rechtscoordinator') !== -1){ %>
            <td><a href="#lawDisable" class="modal-trigger"><i class="material-icons">close</i></a></td>
            <% } else { %>
            <td>-</td>
            <% } %>
        </tr>
        <% }) %>
    </tbody>
</table>

<div id="addLaw" class="modal">
    <div class="modal-content">
        <h4>Regel toevoegen</h4>
        <form action="/law" method="post">
            <div class="row">
                <div class="input-field col s3">
                    <label for="number">Regelnummer</label>
                    <input type="number" step=".01" name="number" required>
                </div>
                <div class="input-field col s9">
                    <label for="content">Regel inhoud</label>
                    <input type="text" name="content" required>
                </div>
            </div>
            <input type="submit" value="Toevoegen" class="right btn waves-effect waves-light">
        </form>
    </div>
    <div class="modal-footer"></div>
</div>

<div id="lawDisable" class="modal">
    <div class="modal-content">
        <h4>Regel <span id="lawDisableNumber"></span> uitschakelen</h4>
        <p>Het is niet mogelijk om regels te verwijderen omdat aanklachten nog gekoppeld kunnen zijn aan dit nummer. Daarom wordt de regel uitgeschakeld in plaats van verwijderd.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Terug gaan</a>
        <a href="#!" id="lawDisableConfirm" class="modal-action modal-close waves-effect waves-green btn red">Uitschakelen</a>
    </div>
</div>

<div id="importLaws" class="modal">
    <div class="modal-content">
        <h4>HHR importeren</h4>
        <h5 style="color: red;">Let op! lees de instructies zorgvuldig!</h5>
        <p>Deze functie is uitsluitend bedoeld voor het importeren van nieuwe regels. Regels die al bestaan zullen niet worden overschreven en verwijdere na het importeren is niet mogelijk.<br>
            <br>
            De eerste kolom moet een nummer bevatten met maximaal 1 punt en alleen rijen met valide regel nummers zullen worden opgenomen.<br>
            <br>
            In het geval van koppen(bijvoorbeeld 1000 preambule) moet de kop bijvoorbeeld op regel 1000 staan en de beschrijving van bijvoorbeeld op 1000.001 omdat dubbelen regels niet zijn toegestaan.
        </p>
        <form action="/law/import" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s3">
                    <input type="file" name="csv" required>
                </div>
            </div>
            <input type="submit" value="Uploaden" class="right btn waves-effect waves-light">
        </form>
    </div>
    <div class="modal-footer"></div>
</div>

<script type="text/javascript">
    $('.lawContent').click(function () {
        var lawContent = this.innerHTML
        var lawID = $(this).parent().parent().attr('id').split(':')[1]

        if (user.groups.indexOf('rechtscoordinator') !== -1) {
            $(this).parent().html('<form action="/law/' + lawID + '" method="POST"><input type="text" name="content" value="' + lawContent + '"><input type="submit" value="Bijwerken" class="btn"></form>')
        }
    })

    $('a[href=#lawDisable] i').click(function () {
        var lawID = $(this).parent().parent().parent().attr('id').split(':')[1]
        var lawNumber = $(this).parent().parent().parent().children()[0].innerText

        $('#lawDisableNumber').text(lawNumber)
        $('#lawDisableConfirm').attr('href', '/law/' + lawID + '/disable')
    })

</script>
