<!DOCTYPE html>
<html>
<head>
    <title>welcome <% if(locals.user){ %><%= user.username %><% } %> to Retsigam</title>

    <!-- style -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <!-- javascript -->
    <script src="/public/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" charset="utf-8"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript">
        var user = $.parseJSON('<%- JSON.stringify(user) %>');
    </script>

</head>
<body>
    <div id="blackOverlay" class="blackOverlay"></div>

    <ul id="dropdownAccount" class="dropdown-content">
        <% if(locals.user && user.groups.indexOf('admin') !== -1) { %>
        <li><a href="/account/manage">accounts</a></li>
        <% } %>
        <li><a href="/account/logout">logout</a></li>
        <li class="divider"></li>
        <li><a href="#!">Version: <%= locals.commit %></a></li>
    </ul>

    <ul id="dropdownJC" class="dropdown-content">
        <li><a href=""><b>JC</b></a></li>
        <li class="divider"></li>
        <li><a href="/jc/overview">Overzicht</a></li>
        <li><a href="/jc/sanction/overview">Sancties</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper  purple lighten-1">
            <a href="/" class="brand-logo">Retsigam</a>
            <ul class="right hide-on-med-and-down">
                <% if(locals.user && user.groups.indexOf('jc') !== -1){ %>
                    <li><a class="dropdown-button" href="/jc/overview" data-activates="dropdownJC">JC<i class="material-icons right">arrow_drop_down</i></a></li>
                <% } %>
                <% if(locals.user && user.groups.indexOf('schoolMeetingVoorzitter') !== -1){ %>
                    <li><a href="/jc/lawsuit/">Rechtzaken</a></li>
                <% } %>
                <% if(locals.user){ %>
                    <li><a href="/law">Huishoudelijk reglement</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdownAccount"><%= user.username %><i class="material-icons right">arrow_drop_down</i></a></li>
                <% } %>
                <% if(!locals.user) { %>
                    <a class="waves-effect waves-light btn" href="/account/login">Login</a>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if ( locals.messages.info ) { %>
            <div class="card-panel blue lighten-3"><%= locals.messages.info %></div>
        <% } %>
        <% if ( locals.messages.warning ) { %>
            <div class="card-panel amber"><%= locals.messages.warning %></div>
        <% } %>
        <% if ( locals.messages.error ) { %>
            <div class="card-panel red darken-1"><%= locals.messages.error %></div>
        <% } %>
        <%- body %>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown-button").dropdown();
            $('.modal').modal();
            $('select').material_select();
        })
    </script>
</body>
</html>
